.cities__lodge {
    display: flex;
    flex-direction: column;
    padding: 50px 150px;

}

.near__cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px 50px;
    width: 100%;
     a{
         color: black;
     }



}

.city__info {
    display: flex;
    width: 100%;

     img {
         width: 30%;
         height: auto;
         object-fit: cover;
         border-radius: 20px;
     }
    
     .text__info {
         display: flex;
         flex-direction: column;
         padding-left: 20px;
         justify-content: center;
     }
}
.lodge__type {
    margin-top: 50px;

}
.accomodation__types {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 20px;

    .accomodation {
        display: flex;
        flex-direction: column;


        img {
            width: 100%;
            border-radius: 20px;
        }

        h4 {
            padding-top: 10px;
        }

    }


}
@media (max-width: 1200px) {
    .cities__lodge {
        padding: 30px 70px;
    }

}


@media (max-width: 800px) {
    .cities__lodge {
        padding: 30px 50px;
    }

    .near__cities {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px 50px;
    }

    .accomodation__types {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;

    }


}

@media (max-width: 400px) {
    .cities__lodge {
        padding: 30px 25px;

    }

    .near__cities {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px 20px;
    }
.city__info {
    font-size: 0.6rem;
}
    .city__info img {
        width: 50%;
        border-radius: 20px;
    }

    .accomodation__types {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;

    }


}