.join__airbnb {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 150px;



    h2 {
        margin-bottom: 30px;
    }



}
.join__container {
    display: flex;

    
}
.join {
    display: flex;
    flex-direction: column;



    img {
        width: 90%;
        border-radius: 20px;
        margin: 10px;

    }
}

@media (max-width: 1200px) {
    .join__airbnb  {
        padding: 30px 70px;
        height: auto;
    }
    .join img {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 800px){
    .join__airbnb {
        padding: 50px 50px;
        height: auto;
        justify-content: center;

    }
    
    .join__container {
        flex-direction: column;
        justify-content: center;

    }

    .join {
        justify-content: center;
    }

    .join img {
        width: 100%;
    }


}