.other__infos {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: rgba(233, 233, 233, 0.63);
    border-top: solid 1px rgba(124, 124, 124, 0.26);

}

.info__list {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    font-size: 0.8rem;
    font-weight: 300;

    a{
        text-decoration: none;
        color: black;
        



    }
    a:hover {
        text-decoration: underline;
    }

}

